body{
    font-family: sans-serif;
}
.navigation {
    background-color: rgb(235, 232, 232);
    padding: 13px;
    display: flex;
    gap: 15%;
    padding-left: 20%;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

#bookTitle {
    margin-left: 20%;
}

.mainBody {
    display: flex;
    font-size: 17px;
    margin-top: 5%;
}

.intro {
    display: flex;
}

.intro img {
    width: 50%;
    margin-left: -100%;
}

.trevor img {
    width: 70%;
    padding-right: 5%;
    padding-left: 15%;
    border-left: solid rgb(88, 28, 28);
}

.myPhoto img {
    width: 100%;

    margin-bottom: 10%;
    border-radius: 50%;




}

#welcome {
    padding-top: 18%;
    width: 150%;

}

.hello p {
    margin-top: 17%;
}

.childhood {
    display: flex;
    /* gap: 8px;
        margin-top: 30%; */
    gap: 15px;
}



.voluteer {
    display: flex;
    /* width: 4vw;
        gap: 8px;
        margin-top: 20%; */
    gap: 15px;


}

.journey {
    width: 21.6vw;
    height: 100vh;
    background-color: rgb(236, 234, 234);
    margin-top: 14%;
}

.journey img {
    height: 20vh;
    width: 10vw;

}

#h {
    margin-left: 5px;
}

.voluteer img {

    width: 10vw;

}

.award {
    display: flex;
    gap: 15px;
}

.award img {
    width: 10vw;

}

.main {
    width: 38%;
    overflow: scroll;
    height: 150vh;
    margin-left: 20%;

}

.marketing {
    width: 22%;
    padding-left: 5%;



}

.twitable {
    display: flex;

}

.logo {
    font-size: 200%;
    display: flex;
    flex-direction: column;
    color: gray;

}

.quote {
    margin-left: 5%;
    width: 100%;
}

#w {
    padding-top: 23px;
    color: rgb(179, 177, 177);
}

#e {
    padding-top: 190px;
    color: rgb(179, 177, 177);

}

#r {
    padding-top: 155px;
    color: rgb(179, 177, 177);
}

#tweets {
    background-color: rgb(7, 176, 255);
    border: none;
    padding: 9px;
    width: 100px;
    color: white;
}
#tweets:hover{
   background-color: rgb(5, 112, 161) ;
}

.connection a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    color: blue;
}
#twi{
   color: rgb(32, 175, 241) ;   
}

.share {
    margin-left: 23.5%;
    font-size: 25px;
}

.share a {
    text-decoration: none;
    color: blue;
    margin-right: 5%;

}

.subs-form input {
    margin-left: 470px;
    width: 20%;
    padding: 18px;
}

#subscribe {
    width: 8%;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;

}

#subscribe:hover {
    background-color: rgb(180, 70, 164);

}


.subscription {
    margin-left: 23%;
}


#sub {
    margin-left: 8%;
}

#hr {
    width: 35%;
    margin-left: 23%;

}

.comment {
    margin-left: 20.7%;
    margin-top: 2%;
}

.comment form {
    margin-top: 2%;
}

#feedback {
    padding: 5%;
    width: 36.2%;

}

input {
    margin: 1% 0%;
    width: 43.4%;
    padding: 18px;
}

#post {
    padding: 18px;
    width: 15%;
    background-color: black;
    color: white;
    font-size: 20px;

}

#post:hover {
    background-color: purple;
}


.navig {
    margin-top: 5%;
    background-color: rgb(235, 232, 232);
    padding: 25px;
    margin-bottom: 5%;
    display: flex;



}

.navig a {
    text-decoration: none;
    color: black;
    margin-left: 10%;



}


#inst{
    color: blueviolet;
}


@media only screen and (max-width: 750px) {
    body{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    #bookTitle {
        font-size: 15px;
     
        font-size: 15px;

    }
  #myphoto{
    width: 20vw;
    margin-left: -80%;
    margin-top: 5%;
  
  }
    .navigation {
        background-color: rgb(235, 232, 232);
        padding: 13px;
        display: flex;
        padding-left: 5%;
        width: 80%;


    }

    .navigation a {
        text-decoration: none;
        color: black;
        font-size: 10px;
    }

   

    .mainBody {
        display: flex;
        flex-direction: column;
         font-size: 12px;
        margin-top: 5%;
    }

    .intro {
        display: flex;
    }

    .intro img {
        width: 50%;
        margin-left: -80%;
    }



    .trevor img {
        width: 70%;
    }

    .myPhoto img {
        width: 200px;
        margin-bottom: 8%;
        border-radius: 50%;




    }

    #welcome {
        padding-top: 18%;
        width: 150%;

    }

    .hello p {
        margin-top: 17%;
    }

    .childhood {
        display: flex;
        /* gap: 8px;
            margin-top: 30%; */
        gap: 15px;
    }



    .voluteer {
        display: flex;
        gap: 15px;


    }

    .journey {
        width: 75vw;
        height: 100vh;
        background-color: rgb(236, 234, 234);
        margin-top: 14%;
        margin-left: -5%;
    }

    .journey img {
        height: 20vh;
        width: 30vw;

    }

    #h {
        margin-left: 5px;
    }

    .voluteer img {

        width: 30vw;

    }

    .award {
        display: flex;
        /* gap: 8px;
            margin-top: 30%; */
        gap: 15px;
    }

    .award img {
        width: 30vw;

    }

    .main {
        width: 75vw;
        overflow: scroll;
        height: 150vh;
        margin-left: 5%;
        font-size: 13px;


    }

    .marketing {
        width: 38vh;
        margin-left: 5%;
        margin-top: 20%;
        font-size: 13;




    }

    .twitable {
        display: flex;

    }

    .logo {
        font-size: 200%;
        display: flex;
        flex-direction: column;
        color: gray;

    }

    .quote {
        margin-left: 5%;
        width: 100%;
    }

    #w {
        padding-top: 23px;
    }

    #e {
        padding-top: 190px;

    }

    #r {
        padding-top: 155px;
    }

    #tweets {
        background-color: rgb(32, 175, 241);
        border: none;
        padding: 9px;
        width: 100px;
        color: white;
    }

    .connection a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        color: blue;
    }

    .share {
        margin-left: 28%;
        font-size: 13px;
        margin-top: 2px;
    }

    .share a {
        text-decoration: none;
        color: blue;
        margin-right: 5%;

    }

    .subs-form input {
        margin-left: 10px;
        width: 30%;
        padding: 15px;
        margin-top: 5%;

    }

    #subscribe {
        width: 30%;
        padding: 15px;
        background-color: black;
        color: white;
        font-size: 15px;
        margin-left: 5%;

    }


    .subscription {
      font-size: 8px;
    margin-left: 9px;
    
    }


    #sub {
        margin-left: 1
        2%;
        font-size: 12px;
    }

    #hr {
        width: 35%;
        margin-left: 23%;

    }

    .comment {
        margin-left: 2%;
        margin-top: 2%;
        font-size: 13px;
        width: 90%;
        
    }
    

    .comment form {
        margin-top: 1%;
    }

    #feedback {
        padding: 8%;
        width: 72.5%;


    }

    input {
        margin: 0% 0%;
        width: 78%;
        padding: 18px;
    }

    #post {
        padding: 10px;
        width: 50%;
        background-color: black;
        color: white;
        font-size: 15px;
        margin-top: 1%;

    }

    .navig {
        margin-top: 5%;
        background-color: rgb(235, 232, 232);
        padding: 40px;
        margin-bottom: 5%;
        display: flex;
        width: 72%;
        gap: 30px;

    }

    .navig a {
        text-decoration: none;
        color: black;
        margin-left: -4%;
        font-size: 12px;
        gap: 2px;



    }

    #f {
        font-size: 20px;
        color: blue;
        margin-top: 2%;
    }

}

@media only screen and (min-width: 751px) and (max-width:999px) {


    body{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
  #myphoto{
    width: 20vw;

  }
  #p{
    font-size: 35px;
  }
    .navigation {
        background-color: rgb(235, 232, 232);
        padding: 13px;
        display: flex;
        padding-left: 5%;
        width: 85%;


    }

    .navigation a {
        text-decoration: none;
        color: black;
        font-size: 15px;
    }

    #bookTitle {
        margin-left: 20%;
        font-size: 25px;
    }

    .mainBody {
        display: flex;
        flex-direction: column;
         /* font-size: 15px; */
        margin-top: 5%;
    }

    .intro {
        display: flex;
        width: 110%;
    }

    .intro img {
        width: 50%;
        margin-left: -80%;
    }



    .trevor img {
        width: 70%;
    }

    .myPhoto img {
        width: 200px;
        margin-bottom: 8%;
        border-radius: 50%;




    }

    #welcome {
        padding-top: 18%;
        width: 150%;

    }

    .hello p {
        margin-top: 17%;
    }

    .childhood {
        display: flex;
        /* gap: 8px;
            margin-top: 30%; */
        gap: 15px;
    }



    .voluteer {
        display: flex;
        gap: 15px;


    }

    .journey {
        width: 70vw;
        height: 100vh;
        background-color: rgb(236, 234, 234);
        margin-top: 14%;
    }

    .journey img {
        height: 20vh;
        width: 30vw;

    }

    #h {
        margin-left: 5px;
    }

    .voluteer img {

        width: 30vw;

    }

    .award {
        display: flex;
        /* gap: 8px;
            margin-top: 30%; */
        gap: 15px;
    }

    .award img {
        width: 30vw;

    }

    .main {
        width: 70vw;
        overflow: scroll;
        height: 150vh;
        margin-left: 10%;
        font-size: 18px;


    }

    .marketing {
        width: 55vw;
        margin-left: 10%;
        margin-top: 20%;
        font-size: 18;




    }

    .twitable {
        display: flex;

    }

    .logo {
        font-size: 200%;
        display: flex;
        flex-direction: column;
        color: gray;

    }

    .quote {
        margin-left: 5%;
        width: 100%;
    }

    #w {
        padding-top: 23px;
    }

    #e {
        padding-top: 190px;

    }

    #r {
        padding-top: 155px;
    }

    #tweets {
        background-color: rgb(32, 175, 241);
        border: none;
        padding: 9px;
        width: 100px;
        color: white;
    }

    .connection a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        color: blue;
    }

    .share {
        margin-left: 28%;
        margin-top: 8%;
    }

    .share a {
        text-decoration: none;
        color: blue;
        margin-right: 5%;

    }

    .subs-form input {
        margin-left: 9%;
        width: 30%;
        padding: 15px;
        margin-top:3%;

    }

    #subscribe {
        width: 30%;
        padding: 15px;
        background-color: black;
        color: white;
        font-size: 15px;
        margin-left: 5%;

    }


    .subscription {
    font-size: 10px;
    margin-left: 12%;
    margin-top: 1%;
    
    }
    
  .subscription h1{
    font-size: 25px;
    margin-top: 2%;
  }

    #sub {
        margin-left: 5%;
        font-size: 17px;
    }

    #hr {
        width: 35%;
        margin-left: 23%;

    }

    .comment {
        margin-left: 5%;
        margin-top: 15%;
        font-size: 25px;
        width: 75%;
        
    }
    #feedback {
        padding: 5%;
        width: 65.5%;
        font-size: 20px;
        margin-top: 3%;

    }

    input {
      
        width: 71%;
        padding: 15px;
        font-size: 20px;
        margin-top: 2px;
    }

    #post {
        padding: 15px;
        width: 45%;
        background-color: black;
        color: white;
        font-size: 30px;
        margin-top: 3%;

    }

    .navig {
        margin-top: 5%;
        background-color: rgb(235, 232, 232);
        padding: 40px;
        margin-bottom: 5%;
        display: flex;
        width: 84%;
        gap: 60px;




    }

    .navig a {
        text-decoration: none;
        color: black;
        margin-left: -4%;
        font-size: 20px;
        gap: 2px;



    }

    #f {
        font-size: 20px;
        color: blue;
        margin-top: 2%;
    }
}
@media only screen and (min-width: 1000px) and (max-width:1300px) {


    body{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
    /* .bookTitle {
        font-size: 25px;

    } */
  #myphoto{
    width: 20vw;

  }
  #type{
    font-size: 25px;
  }
  #p{
    font-size: 35px;
  }
    .navigation {
        background-color: rgb(235, 232, 232);
        padding: 13px;
        display: flex;
        padding-left: 5%;
        width: 97%;


    }

    .navigation a {
        text-decoration: none;
        color: black;
        font-size: 25px;
    }

    #bookTitle {
        margin-left: 20%;
        font-size: 40px;
    }

    .mainBody {
        display: flex;
        flex-direction: column;
         /* font-size: 15px; */
        margin-top: 5%;
    }

    .intro {
        display: flex;
        width: 110%;
    }

    .intro img {
        width: 50%;
        margin-left: -80%;
    }



    .trevor img {
        width: 70%;
    }

    .myPhoto img {
        width: 200px;
        margin-bottom: 8%;
        border-radius: 50%;




    }

    #welcome {
        padding-top: 18%;
        width: 150%;

    }

    .hello p {
        margin-top: 17%;
    }

    .childhood {
        display: flex;
        /* gap: 8px;
            margin-top: 30%; */
        gap: 15px;
    }



    .voluteer {
        display: flex;
        gap: 15px;


    }

    .journey {
        width: 60vw;
        height: 100vh;
        background-color: rgb(236, 234, 234);
        margin-top: 14%;
    }

    .journey img {
        height: 20vh;
        width: 25vw;

    }

    #h {
        margin-left: 5px;
    }

    .voluteer img {

        width: 25vw;

    }

    .award {
        display: flex;
        /* gap: 8px;
            margin-top: 30%; */
        gap: 15px;
    }

    .award img {
        width: 25vw;

    }

    .main {
        width: 80vw;
        overflow: scroll;
        height: 150vh;
        margin-left: 10%;
        font-size: 30px;


    }

    .marketing {
        width: 55vw;
        margin-left: 10%;
        margin-top: 20%;
        font-size:30px;




    }

    .twitable {
        display: flex;

    }

    .logo {
        font-size: 200%;
        display: flex;
        flex-direction: column;
        color: gray;

    }

    .quote {
        margin-left: 5%;
        width: 100%;
    }

    #w {
        padding-top: 23px;
    }

    #e {
        padding-top: 190px;

    }

    #r {
        padding-top: 155px;
    }

    #tweets {
        background-color: rgb(32, 175, 241);
        border: none;
        padding: 9px;
        width: 100px;
        color: white;
    }

    .connection a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        color: blue;
    }

    .share {
        margin-left: 28%;
        margin-top: 35%;
        font-size: 45px;
    }

    .share a {
        text-decoration: none;
        color: blue;
        margin-right: 5%;

    }

    .subs-form input {
        margin-left: 10%;
        width: 40%;
        padding: 30px;
        margin-top:3%;

    }

    #subscribe {
        width: 30%;
        padding: 30px;
        background-color: black;
        color: white;
        font-size: 30px;
        margin-left: 1%;

    }


    .subscription {
      font-size: 25px;
    margin-left: 10%;
    
    }
    
  .subscription h1{
    font-size: 40px;
    margin-top: 5%;
  }

    #sub {
        margin-left: 5%;
        font-size: 30px;
    }

    #hr {
        width: 35%;
        margin-left: 23%;

    }

    .comment {
        margin-left: 3%;
        margin-top: 15%;
        font-size: 30px;
        
    }
    .comment form {
        margin-top: 10%;
        margin-left: 5%;
    }

    #feedback {
        padding: 10%;
        width: 68%;
        font-size: 30px;

    }

    input {
        margin: 3% 0%;
        width: 84%;
        padding: 20px;
        font-size: 30px;
    }

    #post {
        padding: 15px;
        width: 30%;
        background-color: black;
        color: white;
        font-size: 30px;
        margin-top: 3%;

    }

    .navig {
        margin-top: 5%;
        background-color: rgb(235, 232, 232);
        padding: 40px;
        margin-bottom: 5%;
        display: flex;
        width: 84%;
        gap: 60px;




    }

    .navig a {
        text-decoration: none;
        color: black;
        margin-left: 4%;
        font-size: 20px;
        gap: 2px;



    }

    #f {
        font-size: 20px;
        color: blue;
        margin-top: 2%;
    }
}